<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meme list</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let meme of memeData" >      
          <h3>{{meme.name}}</h3>
          <img width="80" src="{{meme.img}}" />
          <p>{{meme.description}}</p>
        </ion-item>
    </ion-list>
</ion-content>
