<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Meme-o-Pedia</h3>

  <p>
    In this meme app, you can keep your own memes, from known memes to own memes or memes in close communities, like school memes.
    You can add your own image together with the meme. Have fun!
  </p>

  <button ion-button (click)="deleteData()">Delete data</button>
</ion-content>
