<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Add meme</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <form>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="text" [(ngModel)]="this.name" name="input"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea [(ngModel)]="this.description" name="input"></ion-textarea>
        </ion-item>
        <ion-item>
          <button ion-button (click)="selectImage()">Select image</button>
        </ion-item>
        <button ion-button (click)="addMeme()">Submit</button>
      </form>
</ion-content>
